{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Gallerie{% endblock %}

{% block body %}
    <div class="gallery">

        <div id="gallery-pastel">
            <section class="section section-light">
                <div class="container">
                    <div class="gallery-pastel-title">
                        <h2 class="text-center">Pastel</h2>
                    </div>
                    <div class="row">
                        {% for pastels in arrPastels %}
                            <div class="col-4">
                                {% for pastel in pastels %}
                                    <a href="{{ asset(pastel.img) }}" class="popup" title="{{ pastel.title }}"><img src="{{ asset(pastel.img) | imagine_filter('thumbnail') }}" alt="{{ pastel.title }}"></a>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </section>
        </div>

        <div id="gallery-paintings">
            <section class="section section-dark">
                <div class="container">
                    <div class="gallery-paintings-title">
                        <h2 class="text-center">Peinture</h2>
                    </div>
                    <div class="row">
                        {% for paintings in arrPaintings %}
                            <div class="col-4">
                                {% for painting in paintings %}
                                    <a href="{{ asset(painting.img) }}" class="popup" title="{{ painting.title }}"><img src="{{ asset(painting.img) | imagine_filter('thumbnail') }}" alt="{{ painting.title }}"></a>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>

        <div id="gallery-watercolors">
            <section class="section section-light">
                <div class="container">
                    <div class="gallery-watercolors-title">
                        <h2 class="text-center">Aquarelle</h2>
                    </div>
                    <div class="row">
                        {% for watercolors in arrWatercolors %}
                            <div class="col-4">
                                {% for watercolor in watercolors %}
                                    <a href="{{ asset(watercolor.img) }}" class="popup" title="{{ watercolor.title }}"><img src="{{ asset(watercolor.img) | imagine_filter('thumbnail') }}" alt="{{ watercolor.title }}"></a>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>

    </div>
{% endblock %}