{% extends 'base.html.twig' %}

{% block body %}

    <div class="gallery-paintings">
        <section class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <img width="250" src="{{ asset('img/photos/photo-9.jpg') }}" alt="jellyfish pastel">
                    </div>
                    <div class="col-4">
                        <img width="250" src="{{ asset('img/photos/photo-25.jpg') }}" alt="barbary macaque pastel">
                    </div>
                    <div class="col-4">
                        <img width="250" src="{{ asset('img/photos/photo-23.jpg') }}" alt="cockatiels pastel">
                    </div>
                    <div class="col-4">
                        <img width="250" src="{{ asset('img/photos/photo-16.jpg') }}" alt="dog pastel">
                    </div>
                    <div class="col-4">
                        <img width="250" src="{{ asset('img/photos/photo-14.jpg') }}" alt="german shepherd pastel">
                    </div>
                    <div class="col-4">
                        <img width="250" src="{{ asset('img/photos/photo-12.jpg') }}" alt="white cat pastel">
                    </div>

                    <div class="col-4">
                        <img width="250" src="{{ asset('img/photos/photo-11.jpg') }}" alt="owls pastel">

                    </div>
                </div>
            </div>

        </section>
    </div>

{% endblock %}
