{% extends 'base.html.twig' %}

{% block body %}

    <div class="gallery-paintings">
        <section class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <img width="250" src="{{ asset('img/photos/photo-27.jpg') }}" alt="red parrot paintings">
                    </div>
                    <div class="col-4">
                        <img width="250" src="{{ asset('img/photos/photo-3.jpg') }}" alt="dog paintings">
                    </div>
                    <div class="col-4">
                        <img width="250" src="{{ asset('img/photos/photo-15.jpg') }}"
                             alt="australian shepherd paintings">
                    </div>
                    <div class="col-4">
                        <img width="250" src="{{ asset('img/photos/photo-18.jpg') }}" alt="two dogs paintings">
                    </div>
                    <div class="col-4">
                        <img width="250" src="{{ asset('img/photos/photo-26.jpg') }}" alt="kingfisher paintings">
                    </div>
                    <div class="col-4">
                        <img width="250" src="{{ asset('img/photos/photo-20.jpg') }}" alt="butterfly paintings">
                    </div>
                    <div class="col-4">
                        <img width="250" src="{{ asset('img/photos/photo-19.jpg') }}" alt="horse paintings">
                    </div>
                    <div class="col-4">
                        <img width="250" src="{{ asset('img/photos/photo-17.jpg') }}" alt="lemur paintings">
                    </div>
                    <div class="col-4">
                        <img width="250" src="{{ asset('img/photos/photo-10.jpg') }}" alt="black cat paintings">
                    </div>
                    <div class="col-4">
                        <img width="250" src="{{ asset('img/photos/photo-6.jpg') }}" alt="hedgehog paintings">
                    </div>
                    <div class="col-4">
                        <img width="250" src="{{ asset('img/photos/photo-4.jpg') }}" alt="gorilla paintings">
                    </div>
                    <div class="col-4">
                        <img width="250" src="{{ asset('img/photos/photo-29.jpg') }}" alt="toucan paintings">
                    </div>
                </div>
            </div>
    </div>
    </section>


    </div>

{% endblock %}
