{% extends 'base.html.twig' %}

{% block body %}
    <div class="gallery-watercolors">
        <section class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <img src="{{ asset('img/photos/photo-0.jpg') }}" alt="red bird watercolors">
                    </div>
                    <div class="col-4">
                        <img src="{{ asset('img/photos/photo-1.jpg') }}" alt="Jack Russel watercolors">
                    </div>
                    <div class="col-4">
                        <img src="{{ asset('img/photos/photo-2.jpg') }}" alt="guinea pig watercolors">
                    </div>
                    <div class="col-4">
                        <img src="{{ asset('img/photos/photo-5.jpg') }}" alt="cheetah watercolors">
                    </div>
                    <div class="col-4">
                        <img src="{{ asset('img/photos/photo-7.jpg') }}" alt="heron watercolors">
                    </div>
                    <div class="col-4">
                        <img src="{{ asset('img/photos/photo-13.jpg') }}" alt="parrots watercolors">
                    </div>
                    <div class="col-4">
                        <img src="{{ asset('img/photos/photo-21.jpg') }}" alt="raccoon watercolors">
                    </div>
                    <div class="col-4">
                        <img src="{{ asset('img/photos/photo-22.jpg') }}" alt="horse watercolors">
                    </div>
                    <div class="col-4">
                        <img src="{{ asset('img/photos/photo-24.jpg') }}" alt="gorilla watercolors">
                    </div>
                    <div class="col-4">
                        <img src="{{ asset('img/photos/photo-28.jpg') }}" alt="white horse watercolors">
                    </div>
                </div>
            </div>
        </section>

    </div>


{% endblock %}
